@media screen and (min-width: 1600px) {
	
	
	
	
.learn_more_wrapper {
	svg {
		.learn-more-cls-3 {
			animation-name: learn_more_scroll;
			animation-duration: 2000ms;
			animation-fill-mode: both;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
		}
	}
}

	
	
	
	
	
} /* Media Query */







