footer {
	background: url(#{$themePath}images/pinkbg.jpg) top left ;
	width:100%;
}


.locations_wrapper {
	max-width:1070px;
	margin:0 auto;
	text-align: center;
	padding:122px 0 470px;
	span.large_header {
		color:#fff;
		font-family: $glosa;
		font-size: 64px;
		letter-spacing: 0.04em;
	}
}



.location_col {
	margin:106px 80px;
	color:#fff;
	display: inline-block;
	
	.location_title {
		display: inline-block;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		border-bottom:2px solid #fff;
		padding-bottom:3px;
		font-family: $josefinsemibold;
		font-size: 24px;
		margin-bottom:30px;
	}
	a {
		color:#fff;
		text-decoration: none;
	}
	a, ul, span {
		display: block;
		font-size: 26px;
		font-family: $josefin;
		line-height: 33px;
		letter-spacing: 0.02em;
	
	}
	ul {
		list-style: none;
	}
	a.address {
		margin-bottom:35px;
	}
	a.footer_tel {
		margin:31px 0;
		svg,span {
			display: inline-block;
			
		}
		span {
			position: relative;
			top:-8px
		}
		svg {
			width:20px;
			fill:#fff;
			margin-right:6px;
		}
	}
	span.leave_comment {
		svg,span {
			display: inline-block;
		}
		span {
			position: relative;
			top:-3px;
			
		}
		svg {
			width:30px;
			margin-right:5px;
			.email-cls-1,.email-cls-2,.email-cls-3,.email-cls-4{
				fill:#fff;
			}
			.email-cls-2,.email-cls-3,.email-cls-4{
				stroke:$pink;
			}
			.email-cls-2{
				stroke-linejoin:round;
			}
			.email-cls-2,.email-cls-3{
				stroke-width:14px;
			}
			.email-cls-3,.email-cls-4{
				stroke-miterlimit:10;
			}
			.email-cls-4{
				stroke-width:15px;
			}
		}
		
	}
}

.social_icons {
	margin:34px 0;
	a {
		height:33px;
		width:auto;
		display: inline-block;
		margin:0 5px;
		svg {
			width:auto;
			height:33px;
			fill:#fff;
			transition: all .2s ease-in-out;
		}
	}
}


a.location_book_now {
	background: #b25675;
	display: inline-block;
	padding:14px 45px 10px;
	margin:8px 0 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: $josefinsemibold;
	font-size: 22px;
	letter-spacing: 0.08em;
	transition: all .2s ease-in-out;
	&:hover {
		background: #fff;
		color:$pink;
	}
}



#form_section {
	background: url(#{$themePath}images/footer-bg.jpg) top left no-repeat;
	background-size:cover;
	width:100%;
	padding-top:1px;
	margin-top:-1px;
	padding-bottom: 170px;
	.form_wrapper {
		background-color: #fff;
		max-width:1170px;
		margin:-435px auto 0;
		padding:80px 50px;
		
		span.form_title {
			color:$grey;
			font-family: $glosa;
			font-size:53px;
			letter-spacing: 0.02em;
			line-height: 57px;
			display: block;
			text-align: center;
			&:after {
				content:"";
				width:200px;
				height:3px;
				background: $pink;
				display: block;
				margin:30px auto 0px;
			}
		}
		ul {
			list-style: none;
			margin:80px auto 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width:975px;
			li#field_2_5 {
				flex-basis: 100%;
			}
			li#field_2_6 {
				ul {
					margin:0;
				}
				label {
					display: block;
				}
				input {
					width:80px;
				}
			}
			li {
				margin-bottom:30px;
				flex-basis: 48.5%;
				position: relative;
				&:after {
					content:"";
					background: url(#{$themePath}images/ast.svg) top left no-repeat;
					width:15px;
					height:15px;
					position: absolute;
					top:28px;
					right:25px;
					z-index: 1;
					
				}
				::-webkit-input-placeholder {
					color: #80888d;
 				}
 				::-moz-placeholder {
 					color: #80888d;
 				}
 				:-moz-placeholder {
 					color: #80888d;
 				}
 				:-ms-input-placeholder {
 					color: #80888d;
 				}
 				::-moz-placeholder {
 					opacity: 1;
 				}
				label {
					display: none;
				}
				input, textarea {
					background: #f8f8f8;
					border:none;
					font-family: $josefin;
					font-size: 24px;
					letter-spacing: 0.04em;
					padding:23px 45px 23px 25px;
					color:#80888d;
					width:100%;
				}
			}
		}
		input[type="submit"] {
			border: none;
			background: $pink;
			color:#fff;
			text-transform: uppercase;
			font-size:24px;
			font-family: $josefinsemibold;
			margin:25px auto 0;
			display: block;
			padding:26px 45px 20px;
			border-radius: 5px;
			letter-spacing: 0.08em;
			transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $pinkdark;
			}
		}
	}
}



.copyright_wrapper {
	background: #fff;
	
}


.copyright_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:1795px;
	margin:0 auto;
	height:80px;
	font-family: $josefin;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.08em;
	color:#464646;
}

a.site_by {
	color:#464646;
	text-decoration: none;
	position: relative;
	span, img {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		padding-top:7px;
		margin-right:5px;
	}
}

.copyright {
	
}


 