



.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



.content {
	font-size: 23px;
	color:$grey;
	line-height: 31px;
	font-family: $josefin;
	h1.intro {
		color:$pink;
		font-family: $glosa;
		font-size: 92px;
		line-height: 103px;
		border-bottom: 1px solid #b7b7b7;
		padding-bottom:32px;
		margin-bottom:100px;
		max-width:870px;
		
	}
	h1, h2, h3, h4 {
		font-style: normal;
		font-weight:300;
	}
	p {
		margin-bottom:25px;
	}
	blockquote {
		color:$pink;
		font-size: 41px;
		line-height: 44px;
		padding:20px 0 40px;
	}
}

@media screen and (max-width: 1384px) {
	
	
.content {
	h1.intro {
		font-size: 80px;
		line-height: 95px;
		margin-bottom: 73px;
		max-width: 750px;
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1060px) {
	
	
.content {
	h1.intro {
		font-size: 60px;
    line-height: 62px;
    text-align: center;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 60px;
	}
}


	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
// reorder sections on mobile
	
.flex_order {
	display: flex;
	flex-direction: column;
}

.locations_wrapper {
	order:-2;
}

#section_three {
	order:-1;
}
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	
	
	
} /* Media Query */