header {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	display: flex;
	z-index:1;
	justify-content: space-between;
	padding:26px 45px;
	display: none;
	a.logo {
		display: block;
		flex-basis: 305px;
		img {
			width:305px;
			height:auto;
		}
	}
}



.header_right {
	margin-top:50px;
	flex-grow: 1;
	max-width:1000px;
	ul#menu-menu-1 {
		list-style: none;
		margin:0;
		display: flex;
		
		justify-content: space-between;
		> li {
				
				font-size: 18px;
				> a {
					text-decoration: none;
					text-transform: uppercase;
					color:$grey;
					font-family: $josefinsemibold;
					letter-spacing: 0.1em;
					transition: all .2s ease-in-out;
					&:hover {
						color:$pink;
					}
				}
		}
		> li.current-menu-item page_item {
				> a {
						color:$pink;
				}
		}
	}
}


.mobile_logo_wrapper {
	display: none;
}


.sticky_header {
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	opacity: 1;
	transition: all 300ms ease-in-out;
	z-index: 50;
	height:120px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}


.sticky_header_left {
	display: flex;
	justify-content: flex-start;
	flex-grow:1;
	height:100%;
	align-items: center;
	padding-left:30px;
	padding-right:30px;
	border-bottom:1px solid #ebebeb;
	a.sticky_logo {
		width:220px;
		
		img {
			width:220px;
			height:auto;
		}
	}
}

.sticky_locations {

	span.location_title_phone {
		display: block;
		text-align: left;
		font-family: $josefinsemibold;
		text-transform: uppercase;
		font-size:13px;
		color:$grey;
		letter-spacing: 0.1em;
		margin-left:20px;
		margin-bottom:6px;
		&:last-of-type {
			margin-bottom:0px;
		}
		a.pink {
			color:$pink;
			font-size:14px;
			text-decoration: none;
			margin-left:8px;
		}
	}
	svg#tel, span.call_us_cta {
		display: none;
	}
}

.sticky_book_now {
	background: $pink;
	height:100%;
	flex-basis: 190px;
	flex-shrink:0;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $pinkdark;
	}
	a {
		color:#fff;
		text-transform: uppercase;
		font-family: $josefinsemibold;
		font-size: 22px;
		letter-spacing: 0.06em;
		display: block;
		text-decoration: none;
		width: 100%;
    height: 100%;
    text-align: center;
    padding-top:50px;
    cursor: pointer;
	}
}


.sticky_menu_wrapper {
	flex-basis:120px;
	flex-shrink:0;
	background: $grey;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
	cursor: pointer;
	span.menu_title {
		color:#fff;
		font-size: 18px;
		text-transform: uppercase;
		font-family: $josefinsemibold;
		letter-spacing: 0.06em;
		margin-bottom:8px;
	}
	span.menu_bar {
		display: block;
		width:100%;
		height:2px;
		background:#fff;
		max-width:60px;
		margin-bottom:6px;
		
	}
}



.sticky_nav {
	flex-grow:1;
	padding-left:4%;
	.menu-header {
		
	}
}

ul#menu-menu-1 {
		list-style: none;
		margin:0;
		display: flex;
		justify-content: space-around;
		li.menu-item-27 {
			display: none;
		}
		> li {
				font-size: 18px;
				position: relative;
				&:hover {
					> a {
						color:$pink;
					}
					> ul.sub-menu {
							opacity: 1;
							visibility: visible;
							transform: translateY(0px);
							transition: opacity 300ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98);
					}
				}
				> a {
					text-decoration: none;
					text-transform: uppercase;
					color:$grey;
					font-family: $josefinsemibold;
					letter-spacing: 0.1em;
					transition: all 300ms ease-in-out;
					cursor: pointer;
					position: relative;
					z-index:5;
					&:hover {
						color:$pink;
					}
				}
				> ul.sub-menu {
						position: absolute;
						top:16px;
						left:-25px;
						list-style: none;
						margin:0 0;
						width:250px;
						background: #fff;
						padding:12px 25px 10px;
						opacity: 0;
						visibility: hidden;
						transition: opacity 300ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98);
						transform: translateY(-30px);
						border-bottom:3px solid $pink;
						li {
							font-family: $josefinsemibold;
							text-transform: uppercase;
							margin:13px 0;
							width:100%;
							line-height: 20px;
							font-size: 17px;
							a {
								text-decoration: none;
								color:$grey;
								display: block;
								width:100%;
								transition: all .2s ease-in-out;
								&:hover {
									color:$pink;
								}
							}
						}
						
				}
		}
		> li.current-menu-item page_item {
				> a {
						color:$pink;
				}
		}
		
	}
	
	
	.second_sub_menu_col {
		display: none;
	}
	
	
	
@media screen and (max-width: 1700px) {
	
	
	
	
	ul#menu-menu-1 {
		
		li.menu-item-27 {
		
		}
		> li {
				
				&:hover {
					> a {
						
					}
					> ul.sub-menu {
							
					}
				}
				> a {
					
					&:hover {
						
					}
				}
				> ul.sub-menu {
						width:230px;
						li {
							
							a {
								
								&:hover {
									
								}
							}
						}
						
				}
		}
		> li.current-menu-item page_item {
				> a {
						
				}
		}
		
	}
	
	
	
	
	
	
	
} /* Media Query */	
	
	
	
@media screen and (max-width: 1650px) {
	
	
	.sticky_header_left {
		padding-left:10px;
		padding-right:5px;
		a.sticky_logo {
			width:195px;
			img {
				width:195px
			}
		}
	}
	
	.sticky_book_now {
		// flex-basis: 125px;
		a {
/*
			font-size:16px;
			padding-top: 53px;
*/
		}
	}
	
	.sticky_nav {
    padding-left: 3%;
   }
   
   .sticky_locations {
	   span.location_title_phone {
/*
		   font-size: 17px;
		   margin-left: 7px;
*/
		   a.pink {
/*
			   font-size: 17px;
			   letter-spacing: 0.05em;
*/
		   }
	   }
   } 
	
	
	ul#menu-menu-2>li {
    font-size: 16px;
	}
	
} /* Media Query */


@media screen and (max-width: 1590px) {
	
	
	
	ul#menu-menu-1 {
		
		li.menu-item-27 {
		
		}
		> li {
				
				&:hover {
					> a {
						
					}
					> ul.sub-menu {
							
					}
				}
				> a {
					
					&:hover {
						
					}
				}
				> ul.sub-menu {
						width:190px;
						li {
							
							a {
								
								&:hover {
									
								}
							}
						}
						
				}
		}
		> li.current-menu-item page_item {
				> a {
						
				}
		}
		
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1470px) {
	
	
	header {
		a.logo {
			img {
				width: 280px;
				height: auto;
			}
		}
	}  
	
	
	.sticky_book_now {
		flex-basis: 160px;
		a {
/*
			font-size:16px;
			padding-top: 53px;
*/
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (min-width: 1360px) {
	
	
	
	.second_sub_menu_col {
		display: none !important;
	}
	
	.menu-header {
		display: block !important;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1360px) {
	
	
	
	
	.sticky_header {
		height: 107px;
	}
	
	.sticky_header_left {
		 a.sticky_logo {
			 width:208px;
			 img {
				 width:208px;
			 }
		 } 
	}
	
	
	
	.sticky_menu_wrapper {
		display: flex;
	}
	
	.sticky_nav.open {
		opacity: 1;
		visibility: visible;
	}
	
	
	
	

	.sticky_nav.open {
		.close {
			&:before, &:after {
				transform-origin: 28px 0 0;
				transition-delay: 1000ms;
			}
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
	}

	
	
	
	
	
	
	
	.sticky_nav {
		// display: none;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		z-index: 10;
		background: url(#{$themePath}images/menu-bg.jpg) top center no-repeat;
		background-size:cover;
		padding-left:0;
		overflow-y: scroll;
		opacity: 0;
		visibility: hidden;
		transition: all 300ms ease-in-out;
		//-webkit-overflow-scrolling: touch;
		.close {
			position: absolute;
			top:57px;
			right:30px;
			cursor: pointer;
			&:before, &:after {
				content:"";
				width:55px;
				height:2px;
				background: #fff;
				display: block;
				transform-origin: 0 0 0;
				transition: all 600ms cubic-bezier(.17,.66,.34,.98);
			}
		}
		.menu-header {
			text-align: center;
			padding:200px 45px 0;
			max-width:1190px;
			margin:0 auto;
			&:before {
				content:"Main Menu";
				color:#fff;
				display: block;
				font-family: $glosa;
				font-size:72px;
				text-transform: uppercase;
				letter-spacing: 0.08em;
				margin-bottom:100px;
			}
		}
	}
	
	.sticky_book_now {
		flex-basis: 150px;
		a {
			font-size:19px;
			padding-top: 46px;
		}
	}
	
	.sticky_locations {
		margin-top:4px;
		margin-left:5px;
		span.location_title_phone {
			//font-size: 18px;
			a.pink {
				//font-size:20px;
			}
		}
	}
	
	
	ul#menu-menu-1 {
		flex-wrap: wrap;
		li.menu-item-27 {
			display: block;
		}
		>li.menu-item-has-children {
			> a {
				&:after {
					content:"+";
					display: inline-block;
					margin:0px 0 0 7px;
					vertical-align: top;
				}
			}
		}
		> li {
				font-size: 25px;
				flex-basis: 25%;
				margin-bottom:85px;
				&:hover {
					> a {
							color:#fff;
					}
					> ul.sub-menu {
							
					}
				}
				> a {
						color:#fff;
					&:hover {
						
					}
				}
				> ul.sub-menu {
						display: none;
						li {
							
							a {
								
								&:hover {
									
								}
							}
						}
						
				}
		}
		> li.current-menu-item page_item {
				> a {
						
				}
		}
		
	}
	
	
	
	
	.second_sub_menu_col {
		display: none;
		text-align: center;
		padding:200px 45px 0;
		span.menu_back {
			position: absolute;
			top:30px;
			left:30px;
			color:#fff;
			text-transform: uppercase;
			font-size: 20px;
			font-family: $josefinsemibold;
			letter-spacing: 0.08em;
			cursor: pointer;
		}
		a {
			color:#fff;
		}
		a.parent_menu_title {
			color:#fff;
			display: block;
			font-family: $glosa;
			font-size:72px;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			margin-bottom:100px;
		}
		ul {
			list-style: none;
		}
		li {
			font-size: 23px;
			margin-bottom:55px;
			text-align: center;
			text-transform: uppercase;
			font-family: $josefinsemibold;
			line-height: 32px;
			letter-spacing: 0.08em;
			a {
				text-decoration:none;
				
			}
		}
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 950px) {
	
	
	
	
	ul#menu-menu-1 {
		max-width:800px;
		margin-left:auto;
		margin-right:auto;
		li.menu-item-27 {
			
		}
		>li.menu-item-has-children {
			> a {
				&:after {
					
				}
			}
		}
		> li {
				flex-basis: 50%;
				&:hover {
					> a {
							
					}
					> ul.sub-menu {
							
					}
				}
				> a {
						
					&:hover {
						
					}
				}
				> ul.sub-menu {
						
						li {
							
							a {
								
								&:hover {
									
								}
							}
						}
						
				}
		}
		> li.current-menu-item page_item {
				> a {
						
				}
		}
		
	}

	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 860px) {
	
	.sticky_header {
		height:80px;
		
	}
	
	.sticky_book_now {
		a {
    	padding-top: 31px;
		}
	}
	
	 	
	.sticky_header_left {
		justify-content: flex-start;
		
		 a.sticky_logo {
			  width: 188px;
			 img {
				width: 188px;
			 }
		 } 
	}
	
	.sticky_menu_wrapper {
		flex-basis: 89px;
		span.menu_title {
			margin-bottom: 3px;
			margin-top:4px;
			font-size: 17px;
		}
		span.menu_bar {
			max-width: 52px;
		}
	}
	
	
	.sticky_book_now {
		flex-basis: 180px;
		a {
			font-size: 22px;
		}
	}
	
	
.sticky_locations {
	
	span.location_title_phone {
		//font-size:15px;
		margin-left:6px;
		a.pink {
			//font-size: 15px;
		}
	}
}
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {

.sticky_nav {
	.menu-header {
		padding: 121px 25px 0;
		&:before {
			font-size: 60px;
			margin-bottom: 74px;
		}
	}
} 

.mobile_logo_wrapper {
	display: block;
	order:-4;
	text-align: center;
	padding:13px 5px 0;
	height: 135px;
	a {
		display: block;
		
		img {
			width:100%;
			max-width:280px;
			height:auto;
			margin-left:-25px;
		}
	}
}


.sticky_header {
	position: relative;
	order:-3;
}

.sticky_header.visible {
	position: fixed;
	transform: translate3d(0,0,0);
}
	
.sticky_header_left {
	justify-content: center;
	border-top:1px solid #ebebeb;
	a.sticky_logo {
		display: none;
	} 
}
	
.sticky_locations {
	span.location_title_phone {
		display: none;
	}
	svg#tel, span.call_us_cta {
		display: inline-block;
	}
	svg#tel {
		width:27px;
		fill:$pink;
		cursor: pointer;
	}
	span.call_us_cta {
		font-size: 22px;
		text-transform: uppercase;
		font-family: $josefinsemibold;
		letter-spacing: 0.06em;
		color:$grey;
		position: relative;
		top:-13px;
		margin-left:10px;
		cursor: pointer;
	}
}

.sticky_book_now {
	flex-basis: auto;
  flex-grow: 1;
}


.second_sub_menu_col {
	padding: 150px 45px 0;
	a.parent_menu_title {
		font-size: 60px;
		margin-bottom: 74px;
	}
	li {
		margin-bottom: 35px;
		font-size: 21px;
	}
	span.menu_back {
		width:100%;
		left:0px;
		top: 105px;
		font-size: 16px;
	}
}
	
	
	  
	    
	    
	ul#menu-menu-1 {
		
		li.menu-item-27 {
			
		}
		>li.menu-item-has-children {
			> a {
				&:after {
					
				}
			}
		}
		> li {
				margin-bottom: 35px;
				font-size:21px;
				&:hover {
					> a {
							
					}
					> ul.sub-menu {
							
					}
				}
				> a {
						
					&:hover {
						
					}
				}
				> ul.sub-menu {
						
						li {
							
							a {
								
								&:hover {
									
								}
							}
						}
						
				}
		}
		> li.current-menu-item page_item {
				> a {
						
				}
		}
		
	}

	
	
} /* Media Query */



@media screen and (max-width: 665px) {
	
	
	
	ul#menu-menu-1 {
		
		li.menu-item-27 {
			
		}
		>li.menu-item-has-children {
			> a {
				&:after {
					
				}
			}
		}
		> li {
				flex-basis: 100%;
				&:hover {
					> a {
							
					}
					> ul.sub-menu {
							
					}
				}
				> a {
						
					&:hover {
						
					}
				}
				> ul.sub-menu {
						
						li {
							
							a {
								
								&:hover {
									
								}
							}
						}
						
				}
		}
		> li.current-menu-item page_item {
				> a {
						
				}
		}
		
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 570px) {
	
	
.sticky_locations {
		
	svg#tel {
		width:25px;
		
	}
	span.call_us_cta {
		font-size: 18px;
		top:-13px;
		margin-left:10px;
	}
}


.sticky_book_now {
	flex-basis: auto;
  flex-grow: 1;
	a {
		font-size: 18px;
		padding-top: 35px;
	}
}


.sticky_menu_wrapper {
	span.menu_title {
		font-size: 16px;
	}
} 

	
	
	
} /* Media Query */



@media screen and (max-width: 525px) {
	
	
.sticky_nav {
	.menu-header {
		// padding: 121px 45px 0;
		&:before {
			font-size: 40px;
			margin-bottom: 44px;
		}
	}
} 



.second_sub_menu_col {
	// padding: 121px 45px 0;
	a.parent_menu_title {
		font-size: 40px;
		margin-bottom: 44px;
	}
	li {
	
	}
}

	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 448px) {
	


.sticky_book_now {
	padding-left:10px;
	padding-right:10px;
	flex-shrink: auto;
}

	
.sticky_locations {
	svg#tel {
		display: none;
	}
	span.call_us_cta {
		
		top:0px;
		margin-left:0px;
	}
}


.sticky_header_left {
	padding-left:15px;
	padding-right:15px;
	span.call_us_cta {
		max-width: 90px;
		text-align: center;
	}
}



	
	
	
} /* Media Query */