.location_form_overlay.open {
	opacity: 1;
	visibility: visible;
}


.location_form_overlay {
	opacity: 0;
	visibility: hidden;
	transition: all 400ms linear;
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0.7);
	z-index:500;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding:0 30px;
	.location_form_inner {
		background: #fff;
		max-width:700px;
		margin:120px auto;
		padding:80px 30px 60px;
		position: relative;
		span.question {
			color:$grey;
			font-family: $glosa;
			font-size:53px;
			letter-spacing: 0.02em;
			line-height: 57px;
			display: block;
			text-align: center;
			&:after {
				content:"";
				width:200px;
				height:3px;
				background: $pink;
				display: block;
				margin:30px auto 0px;
			}
		}
		ul {
			list-style: none;
			margin: 70px auto 0;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width:600px;
			li#field_4_7 {
				flex-basis:100%;
				margin-bottom:0;
				
				&:after {
					display: none;
				}
				ul {
					margin:0;
					
					li {
						display: flex;
						flex-basis: 100%;
						&:after {
							display: none;
						}
						label {
							display: block;
							font-family: $josefin;
							font-size: 24px;
							letter-spacing: 0.04em;
							flex-grow: 1;
							color:#80888d;
						}
					}
				}
				
				input {
					width:30px;
					-webkit-appearance: checkbox;
				}
			}
			li {
				margin-bottom:30px;
			
				position: relative;
				&:after {
					content:"";
					background: url(#{$themePath}images/ast.svg) top left no-repeat;
					width:15px;
					height:15px;
					position: absolute;
					top:28px;
					right:25px;
					z-index: 1;
					
				}
				::-webkit-input-placeholder {
					color: #80888d;
 				}
 				::-moz-placeholder {
 					color: #80888d;
 				}
 				:-moz-placeholder {
 					color: #80888d;
 				}
 				:-ms-input-placeholder {
 					color: #80888d;
 				}
 				::-moz-placeholder {
 					opacity: 1;
 				}
				label {
					display: none;
				}
				select {
					
					border-radius: 0;
					-webkit-appearance: none;
				}
				input, textarea, select {
					background: #ededed;
					border:none;
					font-family: $josefin;
					font-size: 24px;
					letter-spacing: 0.04em;
					padding:23px 45px 23px 25px;
					color:#80888d;
					width:100%;
				}
			}
		}
		input[type="submit"] {
			border: none;
			background: $pink;
			color:#fff;
			text-transform: uppercase;
			font-size:24px;
			font-family: $josefinsemibold;
			margin:25px auto 0;
			display: block;
			padding:26px 45px 20px;
			border-radius: 5px;
			letter-spacing: 0.08em;
			transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $pinkdark;
			}
		}
	}
	.gfield_description, .validation_message {
		color:$pink;
		font-family: $josefin;
		font-size: 17px;
		padding-top:10px;
		letter-spacing: 0.05em;
	}
}


	
		
	// all overlay close buttons
		
		
		

	.book_now_overlay.open, .call_now_overlay.open, .location_form_overlay.open, .book_now_item_overlay.open, .redeem_now_overlay.open {
		
		.overlay_close {
			&:before, &:after {
				transition-delay: 1000ms;
				transform-origin: 28px 0px 0;
			}
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
		
	}

	
	
	
	
	
		
		.overlay_close {
			position: absolute;
			top:22px;
			right:22px;
			cursor: pointer;
			width:54px;
			height:54px;
			padding-top:24px;
			&:before, &:after {
				content:"";
				width:55px;
				height:2px;
				background: $pink;
				display: block;
				transform-origin: 28px 0px 0;
				transition: all 500ms cubic-bezier(.17,.66,.34,.98);
				&:before {
					transform: rotate(-45deg);
				}
				&:after {
					transform: rotate(45deg);
				}
			}
		}
		
	
		
		
		
@media screen and (max-width: 1060px) {
	
	
.location_form_overlay {
	
	.location_form_inner {
		margin: 100px auto;	
		span.question {
			font-size: 42px;
			margin-left:auto;
			margin-right:auto;
			line-height: 48px;
			&:after {
				margin: 19px auto 0px;
			}
		}
		ul {
			margin: 45px auto 0;
			li {
				margin-bottom: 19px;
				&:after {
					top: 22px;
				}
			}
		}	
	}
	
}
	
	
	
.location_form_overlay .location_form_inner ul li input, .location_form_overlay .location_form_inner ul li textarea, .location_form_overlay .location_form_inner ul li select {
	font-size: 21px;
	padding: 18px 45px 19px 22px;
}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	.location_form_overlay {
		.location_form_inner {
    	margin: 43px auto;
		}
	}
	
	
		.overlay_close {
			
			
			right:30px;
			
			&:before, &:after {
				
			}
		}

	
	
	
} /* Media Query */


@media screen and (max-width: 435px) {
	
	
	
	.location_form_overlay {
		padding: 0 13px;
		.location_form_inner {
			padding: 80px 19px 60px;
			span.question {
				font-size:35px;
				line-height: 43px;
			}
			input[type="submit"] {
				width:100%;
				max-width:100%;
				padding: 26px 5px 20px;
				font-size: 20px;
			}
		}
	}  
	
	
	
	
	
	
} /* Media Query */