#section_one {
	background: url(#{$themePath}images/sec-one-bg.jpg) top center no-repeat;
	background-size:cover;
	width:100%;
	height:1025px;
}


.sec_one_internal_content {
	text-align: center;
	padding-top:220px;
	span.large_header {
		font-family:$honeyscriptlight;
		color:$grey;
		font-size:105px;
		display: block;
		margin:50px 0 0;
	}
}


.play_button_wrapper {
	width:125px;
	height:125px;
	border:3px solid $pink;
	display: block;
	margin:0 auto;
	border-radius: 50%;
	position: relative;
	transition: all .2s ease-in-out;
	background: transparent;
	cursor: pointer;
	&:hover {
		background: $pink;
		.play_tri {
			
			border-left: 30px solid #fff;
			
		}
	}
	.play_tri {
		width: 0; 
		height: 0; 
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 30px solid $pink;
		position: absolute;
		top: 35px;
    left: 49px;
    transition: all .2s ease-in-out;
	}
}


.location_wrapper {
	text-align: center;
	margin-top:45px;
	.location_single {
		display: inline-block;
		font-family: $josefinsemibold;
// 		margin:0 30px;
		&:first-of-type {
			border-right:1px solid $grey;
			padding-right:30px;
		}
		&:last-of-type {
			padding-left:30px;
		}
		span.location_title {
			display: block;
			color:$grey;
			font-size: 25px;
			text-transform: uppercase;
			
			letter-spacing: 0.14em;
		}
		a.tel {
			font-size: 29px;
			text-decoration: none;
			color:$pink;
			margin-top:10px;
			display: block;
			letter-spacing: 0.08em;
		}
	}
}


a.book_appointment {
	background: $pink;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $josefinsemibold;
	font-size:23px;
	letter-spacing: 0.1em;
	line-height: 1;
	padding:25px 45px 22px;
	border-radius: 5px;
	display: inline-block;
	margin:37px 0 0;
	transition: all .2s ease-in-out;
	&:hover {
		background:#ef739a;
	}
}



.learn_more_wrapper {
	text-align: center;
	margin:150px 0 0;
	span.learn_more_title {
		color:$grey;
		font-family: $josefinsemibold;
		text-transform: uppercase;
		font-size:14px;
		letter-spacing: 0.14em;
		display: block;
		margin-bottom:7px;
		}
		svg {
			width:60px;
			.learn-more-cls-3 {
				
			}
		}
	}
