#section_two {
	width:100%;
	height:1000px;
	padding:175px 0;
}


.sec_two_inner {
	display: flex;
	max-width: 1590px;
	margin-left:auto;
	margin-right:auto;
	justify-content: space-between;
}


.sec_two_content {
	flex-basis: 630px;
	flex-shrink: 0;
	span.sec_two_intro {
		color:$pink;
		font-family: $glosa;
		font-size:60px;
		line-height: 62px;
		display: block;
		margin-top:15px;
		max-width: 565px;
	}
	span.sec_two_intro_content {
		font-size:23px;
		color:$grey;
		font-family: $josefinsemibold;
		line-height: 34px;
		display: block;
		margin:32px 0;
	}
	svg {
		width:135px;
		height:135px;
	}
}


svg#blink_circle {
	
	.blink_circle-cls-1{
		fill:$pink;
	}
	.blink_circle-cls-2{
		fill:$pink;
	}
}


.sec_two_gallery_wrapper {
	width:100%;
	max-width:808px;
	margin-top:10px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}


.sec_two_gallery {
	column-count:2;
	column-gap:8px;
}



.single_gallery {
	display: block;
	width:100%;
	margin-bottom:8px;
	position: relative;
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	.gallery_caption {
		background: #fff;
		color:$pink;
		position: absolute;
		bottom:0;
		left:0;
		padding:7px 8px;
		font-family: $josefinsemibold;
		text-transform: lowercase;
		letter-spacing: 0.06em;
		max-width: 200px;
/*
		border-bottom: 1px solid #e0e0e0;
		border-left:1px solid #e0e0e0;
*/
		font-size: 15px;
	}
}


a.view_gallery_link {
	float:right;
	display: inline-block;
	text-decoration: none;
	font-size: 24px;
	letter-spacing: 0.04em;
	margin-top:4px;
	span {
		color:$grey;
		font-family:$josefin;
		font-size: 24px;
		vertical-align: top;
		display: inline-block;
		padding-top:10px;
		margin-right:5px;
	}
	svg {
		width:40px;
		height:40px;
		display: inline-block;
		vertical-align: top;

	}
}


svg#view-more {
	.view-more-cls-1 {
		fill:#f499b8;
	}
	.view-more-cls-2 {
		fill:#f89aba;
	}
	.view-more-cls-3 {
		font-size:36.74px;
		fill:#fff;
		font-family:JosefinSans-SemiBold, Josefin Sans;
		font-weight:700;
	}
}



