#section_six {
	width:100%;
	background: #f7f7f7;
	text-align: center;
	padding:135px 70px 165px;
}


svg#accent {
	width:29px;
	height: 27px;
	.accent-cls-1{
		fill:$pink;
	}
}


.sec_six_inner {
	span.signup_title {
		display: block;
		font-size:53px;
		color:$grey;
		font-family: $glosa;
		letter-spacing: 0.02em;
		// max-width: 500px;
		line-height: 60px;
		margin:10px auto;
		&:after {
			content:"";
			width:50px;
			height:3px;
			background: $pink;
			display: block;
			margin:30px auto;
			width:190px;
		}
	}
	.signup_description {
		color:$grey;
		font-size: 25px;
		line-height: 30px;
		font-family: $josefin;
		max-width: 910px;
		margin:0 auto;
	}
}



.validation_error {
	display: none;
}

.sign_up_form {
	margin:57px 0 0;
	form {
		display: flex;
		justify-content: center;
	}
	ul {
		list-style: none;
		li {
			
			label {
				display: none;
			}
			input {
				border:1px solid #dbdbdb;
				border-right:none;
				font-size:22px;
				color:$grey;
				text-transform: uppercase;
				font-family: $josefin;
				padding:18px 25px 12px;
				letter-spacing: 0.04em;
				border-radius: 5px 0 0 5px;
				height:58px;
				width:370px;
			}
		}
	}
	input[type="submit"] {
		border:none;
		background: $pink;
		color:#fff;
		text-transform: uppercase;
		padding:18px 32px 12px;
		font-size:22px;
		letter-spacing: 0.08em;
		height:58px;
		border-radius:0 5px 5px 0;
		font-family: $josefinsemibold;
		cursor: pointer;
		transition: all .2s ease-in-out;
		&:hover {
			background: $pinkdark;
		}
	}
	.gfield_description, .validation_message {
		color:$pink;
		font-family: $josefin;
		font-size: 17px;
		padding-top:10px;
		letter-spacing: 0.05em;
	}
}



@media screen and (max-width: 1060px) {
	
	#section_six {
		padding: 86px 70px 135px;
	}
	
	
	
	
	
	.sec_six_inner {
		span.signup_title {
			max-width: 500px;
		}
		.signup_description {
			max-width: 700px;
		}
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	#section_six {
		 padding: 60px 25px 95px;
	}
	
	   
	
	
	.sec_six_inner span.signup_title {
		 font-size: 48px;
		 line-height: 57px;
	}
	
	
	.sign_up_form {
		ul {
			li {
				input {
					width:auto;
					max-width: 100%;
				}
			}
		}
	} 
	
		
	
} /* Media Query */


@media screen and (max-width: 510px) {
	
	
.sign_up_form {
		ul {
			li {
				input {
					max-width:200px;
					font-size: 19px;
					padding: 18px 16px 12px;
				}
			}
		}
		input[type="submit"] {
			padding: 18px 19px 12px;
			font-size: 19px;
		}
	} 
	
	
} /* Media Query */



@media screen and (max-width: 450px) {
	
	
.sign_up_form {
		ul {
			li {
				input {
					max-width:150px;
					
				}
			}
		}
		input[type="submit"] {
			
		}
	} 
	
	
} /* Media Query */




