#section_five {
	background: url(#{$themePath}images/store.jpg) top left no-repeat;
	background-size:922px 964px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	
}


.sec_five_left {
/*
	width:45%;
	float:left;
*/
	
}


.sec_five_right {
	float:right;
	width:55%;
	background: url(#{$themePath}images/grey-bg.jpg) top left repeat;
	padding:133px 0;
	.review_wrapper {
		background: #fff;
		text-align: center;
		padding:58px;
		position: relative;
		margin-left:-120px;
		width:100%;
		max-width:1005px;
		svg#blink_circle {
			width:100px;
		}
	}
}




.review_slideshow {
	
}




.single_slide {
	span.review_keyword {
		color:$grey;
		font-size:47px;
		font-family: $glosa;
		display: block;
		margin:30px auto 25px;
	}
	.stars {
		span {
			color:$pink;
			font-size:45px;
		}
	}
	.reviews_content {
		padding:40px 0 30px;
		color:$grey;
		font-family: $josefin;
		font-size: 25px;
		line-height: 30px;
		max-width:805px;
		margin:0 auto;
	}
	span.reviews_name {
		font-family: $honeyscriptlight;
		font-size: 46px;
		letter-spacing: 0.02em;
		color:$grey;
		display: block;
		padding-bottom:25px;
		&:before {
			content:"";
			width:7px;
			height:3px;
			background: $pink;
			display: inline-block;
			vertical-align: top;
			margin:15px 10px 0 0;
		}
	}
}


.leave_review_wrapper {
	position: absolute;
	bottom:-20px;
	left:0px;
	width:100%;
	a.leave_review {
		background: $pink;
		color:#fff;
		text-decoration: none;
		font-size: 20px;
		text-transform: uppercase;
		font-family: $josefinsemibold;
		letter-spacing: 0.08em;
		line-height: 1;
		padding:19px 25px 17px;
		display:inline-block;
		border-radius: 5px;
		transition: all .2s ease-in-out;
		&:hover {
			background: $pinkdark;
		}
	}
}


.prev_next_wrapper {
	position: absolute;
	top:235px;
	right:-35px;
	.slide_button {
		background: $pink;
		padding:20px 13px;
		cursor: pointer;
		transition: all .2s ease-in-out;
		&:hover {
			background: $pinkdark;
		}
		svg {
			width:45px;	
		}
	}
	.prev {
		border-radius: 5px 5px 0 0;
		border-bottom: 1px solid #d38da6;
	}
	.next {
		border-radius: 0 0 5px 5px;
		svg {
			transform: rotate(180deg);
		}
	}
}


svg#arrow {
	.arrow-cls-1 {
		fill:none;
		stroke:#fff;
		stroke-miterlimit:10;
	}
}


