#section_two {
	width:100%;

	padding:175px 0;
}


.sec_two_inner {
	display: flex;
	max-width: 1730px;
	padding-left:70px;
	padding-right:70px;
	margin-left:auto;
	margin-right:auto;
	justify-content: space-between;
}


.sec_two_content {
	flex-basis: 690px;
	flex-shrink: 0;
	padding-right:60px;
	span.sec_two_intro {
		color:$pink;
		font-family: $glosa;
		font-size:60px;
		line-height: 62px;
		display: block;
		margin-top:15px;
		max-width: 565px;
	}
	span.sec_two_intro_content {
		font-size:23px;
		color:$grey;
		font-family: $josefinsemibold;
		line-height: 34px;
		display: block;
		margin:32px 0;
	}
	svg {
		width:135px;
		height:135px;
	}
}


svg#blink_circle {
	
	.blink_circle-cls-1{
		fill:$pink;
	}
	.blink_circle-cls-2{
		fill:$pink;
	}
}


.sec_two_gallery_wrapper {
	width:100%;
	max-width:808px;
	margin-top:60px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}


.sec_two_gallery {
	column-count:2;
	column-gap:8px;
}



.single_gallery {
	display: block;
	width:100%;
	margin-bottom:8px;
	position: relative;
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	.gallery_caption {
		background: #fff;
		color:$pink;
		position: absolute;
		bottom:0;
		left:0;
		padding:7px 8px;
		font-family: $josefinsemibold;
		text-transform: lowercase;
		letter-spacing: 0.06em;
		max-width: 200px;
/*
		border-bottom: 1px solid #e0e0e0;
		border-left:1px solid #e0e0e0;
*/
		font-size: 15px;
	}
}


a.view_gallery_link {
	float:right;
	display: inline-block;
	text-decoration: none;
	font-size: 24px;
	letter-spacing: 0.04em;
	margin-top:4px;
	span {
		color:$grey;
		font-family:$josefin;
		font-size: 24px;
		vertical-align: top;
		display: inline-block;
		padding-top:10px;
		margin-right:5px;
	}
	svg {
		width:40px;
		height:40px;
		display: inline-block;
		vertical-align: top;

	}
}


svg#view-more {
	.view-more-cls-1 {
		fill:#f499b8;
	}
	.view-more-cls-2 {
		fill:#f89aba;
	}
	.view-more-cls-3 {
		font-size:36.74px;
		fill:#fff;
		font-family:JosefinSans-SemiBold, Josefin Sans;
		font-weight:700;
	}
}



@media screen and (max-width: 1515px) {
	
	.sec_two_gallery_wrapper {
    margin-top: 108px;
	}
	
	
} /* Media Query */




@media screen and (max-width: 1460px) {
	
	
	
	.sec_two_content {
		flex-basis: 50%;
	}
	
	
	.sec_two_gallery_wrapper {
    margin-top: 138px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1360px) {
	
	
	#section_two {
		padding: 85px 0;
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	
	
	
	.sec_two_inner {
		flex-direction: column;
	}
	
	.sec_two_content {
		flex-basis: 100%;
		padding-right:0;
		max-width:800px;
		margin-left:auto;
		margin-right:auto;
		span.sec_two_intro {
			max-width: 696px;
		}
	}
	
	
	.sec_two_gallery_wrapper {
    margin-top: 50px;
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	}
	
	.single_gallery {
		.gallery_caption {
			text-align: left;
		}
	} 
	
	
	a.view_gallery_link {
		float:none;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
	}

	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	#section_two {
    padding: 35px 0 0;
	}
	
	.sec_two_inner {
		padding-left:0;
		padding-right:0;
	}
	
	.sec_two_content {
		padding-left:30px;
		padding-right:30px;
		svg {
			width:100px;
		}
		span.sec_two_intro_content {
			margin-bottom:0;
		}
	}
	
	
	.sec_two_gallery {
		column-count: auto;
		column-gap:0;
	}
	
	.single_gallery {
		margin-bottom: 0px;
		&:not(:first-of-type) {
			display: none;
		}
		img {
			width:100%;
		
		}
		.gallery_caption {
			max-width: 400px;
			top:0;
			right:0;
			bottom:auto;
			left:auto;
		}
	}
	
	
	a.view_gallery_link {
		margin-top:0;
		background: $pink;
		display: block;
		padding:10px 10px;
		span {
			color:#fff;
			text-transform: uppercase;
			font-family: $josefinsemibold;
			font-size: 20px;
			padding-top: 14px;
		}
	}
	
	svg#view-more {
		position: relative;
		top:-2px;
		.view-more-cls-1, .view-more-cls-2 {
			fill:$pinkdark;
		}
	} 
	
	
	
	
} /* Media Query */


@media screen and (max-width: 510px) {
	
	
	
	
	.sec_two_content {
		 span.sec_two_intro {
			font-size: 50px;
			line-height: 52px;
			margin-top:0;
		 }
	}
	
	
} /* Media Query */



