#section_seven {
	
	
	
	.blog_wrapper {
		display: flex;
		flex-wrap:wrap;
	}
	
	
	.single_post_homepage {
		flex-basis: 50%;
		flex-shrink: 0;
		
		&:nth-of-type(3), &:nth-of-type(4) {
			.single_post_homepage_image_wrapper {
				order:2;
			}
			.single_post_homepage_content {
				order:1;
				.tri_wrapper {
					right:-30px;
					left:auto;
					.tri {
						transform: rotate(180deg);
						
					}
				}
			}
		}
		a {
			display: flex;
			text-decoration: none;
			.single_post_homepage_image_wrapper {
				flex-basis: 50%;
				flex-shrink:0;
				position: relative;
				overflow: hidden;
				.single_post_homepage_image_inner {
					width:100%;
					height: 100%;
					position: absolute;	
					background: url(#{$themePath}images/blog.jpg) center center no-repeat;
					background-size:cover;
					transform: scale(1);
					transition: all 1900ms cubic-bezier(.17,.66,.34,.98);
				}
			}
			.single_post_homepage_content {
				flex-grow: 1;
				padding:40px;
				position: relative;
				background: #fff;
				transition: all 300ms ease-in-out;
				.tri_wrapper {
					position: absolute;
					top:0;
					left:-30px;
					display: flex;
					align-items: center;
					height:100%;
					.tri {
						width: 0; 
						height: 0; 
						border-top: 25px solid transparent;
						border-bottom: 25px solid transparent;
						border-right: 30px solid #fff;
						transition: all 300ms ease-in-out;
					}
				}
				span.blog_title {
					color:$pink;
					font-size:22px;
					text-transform: uppercase;
					font-family: $josefinsemibold;
					line-height: 27px;
					letter-spacing: 0.06em;
					display: block;
					transition: all 300ms ease-in-out;
				}
				span.meta {
					display: block;
					color:$grey;
					text-transform: uppercase;
					font-size: 17px;
					font-family: $josefin;
					letter-spacing: 0.06em;
					margin:6px 0 30px;
					transition: all 300ms ease-in-out;
				}
				span.blog_description {
					color:$grey;
					font-size: 20px;
					font-family: $josefin;
					line-height: 25px;
					transition: all 300ms ease-in-out;
				}
				span.read_more {
					float:right;
					color:$pink;
					text-transform: uppercase;
					font-family: $josefinsemibold;
					font-size: 18px;
					letter-spacing: 0.06em;
					margin:35px 0 0;
					transition: all 300ms ease-in-out;
				}
			}
		}
	}
	
	
	
	
	
	
	
	
} // #section_seven 



@media screen and (max-width: 1200px) {
	
	
	
	#section_seven {
	
	
	
		.blog_wrapper {
			
		}
		
		.single_post_homepage {
			flex-basis: 100%;
			a {
				.single_post_homepage_content {
					padding: 70px;
				}
			}
		}
		
		
		
		
	.single_post_homepage {
		&:nth-of-type(4) {
			
		}
		&:nth-of-type(3) {
			.single_post_homepage_image_wrapper {
				order:1;
			}
			.single_post_homepage_content {
				order:2;
				.tri_wrapper {
					left:-30px;
					right:auto;
					transform: rotate(-180deg);
					.tri {
						
						
					}
				}
			}
		}
		
		&:nth-of-type(2) {
			.single_post_homepage_image_wrapper {
				order:2;
			}
			.single_post_homepage_content {
				order:1;
				.tri_wrapper {
					left:auto;
					right:-30px;
					transform: rotate(-180deg);
					.tri {
						
						
					}
				}
			}
		}
	}
		
		
		
		
		
	
	
	
	} // #section_seven
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1060px) {
	
	
	

	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	#section_seven {
	
	
		.blog_wrapper {
// 			display: block;
.slick-dots {
	bottom: 0px;
	li.slick-active {
		button {
			&:before {
				color:$pink;
			}
		}
	}
	li:hover {
		button {
			&:before {
				color:$pink;
			}
		}
	}
	li {
		margin:0;
		width:19px;
		button {
			width:19px;
			&:before {
				width:19px;
				opacity: 1;
				color: $grey;
				font-size:30px;
			}
		}
	}
}
		}
	
	
		.single_post_homepage {
			text-align: center;
			a {
// 				display: block;
				.single_post_homepage_image_wrapper {
					display: none;
				}
				.single_post_homepage_content {
					padding: 44px 25px;
					max-width:500px;
					margin-left:auto;
					margin-right:auto;
					.tri_wrapper {
						display: none;
					}
					span.read_more {
						float:none;
						display: block;
					}
				}
			}
		}
	
	
	} // #section_seven
	
	
} /* Media Query */






